---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Jul. 2023 - Ago. 2024 · 1 año y 2 meses",
    title: "Software Developer",
    company: "Masivian",
    description:
      "Desarrollé soluciones de backend con .NET y AWS, proporcionando soporte y resolviendo bugs para un sistema de envío de correos masivo, utilizando diversas bases de datos como Redis, MongoDB, DynamoDB y Redshift, para asegurar la disponibilidad y escalabilidad del sistema.",
    link: "https://www.linkedin.com/company/masivian/mycompany/",
  },
  {
    date: "Julio. 2021 - nov. 2022 · 1 año 5 meses",
    title: "Fullstack Web Developer",
    company: "Colombian Teknologies SAS",
    description:
      "Desarrollé aplicaciones a medida para diversos clientes, manejando tanto el desarrollo backend como frontend. Utilicé una variedad de tecnologías, incluyendo React, PHP y JavaScript, adaptándome a las necesidades específicas de cada proyecto, para garantizar una experiencia de usuario óptima y soluciones escalables.",
      link: "https://www.linkedin.com/in/damet24/overlay/1635462319595/single-media-viewer?type=LINK&profileId=ACoAADZAP8gBXswIkpvwZjFEnad5pqlS2Bo1i6U&lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base%3Bn90ZuD26QB%2BR2p1kwbaJOQ%3D%3D"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
