---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
    <div class="flex gap-4 mb-4">
        <img
                class="rounded-full shadow-lg size-16"
                src="/daniel.webp"
                alt={personalImageAlt}
        />
        <a
                href="https://linkedin.com/in/Damet24"
                target="_blank"
                rel="noopener"
                class="flex items-center transition md:justify-center md:hover:scale-105"
        >
            <Badge>Disponible para trabajar</Badge>
        </a>
    </div>
    <h1
            class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
    >
        Hola, soy Daniel
    </h1>
    <p class="mt-6 text-xl text-gray-800 dark:text-gray-300">
    <strong class="bg-gradient-to-r from-red-500 to-yellow-400 text-transparent bg-clip-text">
        Software Developer
    </strong> de Bogotá, Colombia 🇨🇴. Especializado en soluciones escalables con 
    <strong>.NET (C#)</strong> y <strong>Node.js</strong>. Con experiencia en arquitecturas 
    <strong>AWS</strong>, principios <strong>SOLID</strong> y desarrollo de sistemas de alto rendimiento.
</p>
    <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="mailto:daniel.mercado.dev@gmail.com">
            <MailIcon class="size-4"/>
            Contáctame
        </SocialPill>
        <SocialPill href="https://linkedin.com/in/Damet24">
            <LinkedInIcon class="size-4"/>
            LinkedIn
        </SocialPill>
    </nav>
</div>
